
.sidebar {
    position: absolute;
    float:left;
    width: 111px;
    height: 100%;
    overflow-x: hidden;
    left: 0px;
    top: 0px;
    background: #E8E8E8;
}
.sidebar-logo{
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.sidebar-icons{
    margin-bottom: 2.5rem;
}
.sidebar-create-icon{
    margin-top: 5rem;
}
.sidebar-liked-icon{
    margin-bottom: 9rem;
}