@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import 'reset.css';
.signUp-page-body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 2rem;
    justify-content: end;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('/images/wall.png');
    background-size: 100% 100%;
}

.signUp-card{
    padding: 3rem;
    width: 35%;
    background-color: rgb(255,255,255,0.5);
}
.signUp-card-header{
    text-align: center;
    margin-bottom: 2rem;
}
.signUp-card a{
    text-decoration: none;
    color: #35339a;
}
.signUp-card a:hover{
    text-decoration: underline;
}
.signUp-card-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.signUp-card-form .signUp-form-item{
    position: relative;
}
.signUp-card-form .signUp-form-item .form-item-icon{
    position: absolute;
    top:.83rem;
    left:1.4rem;
    opacity: .8;
    font-size: 1.3rem;
}

.signUp-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
    align-items: center;
    display: flex;
    justify-content:center;
}
.signUp-card input[type="text"],input[type="password"],input [type="email"]{
    border:none;
    border-bottom: 2px solid gray;
    outline:none;
    color: black;
    background-color:transparent;
    padding:0.8rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    width: 100%;
}
.signUp-card input[type='text']::placeholder{   
    text-align: right;      /* for Chrome, Firefox, Opera */
}
.signUp-card input[type="text"]:-ms-input-placeholder{ 
    text-align: right;      /* for IE 10-11 */
}
.signUp-card input[type="text"]::-webkit-input-placeholder{ 
    text-align: right;      /* for IE Edge */
}

.signUp-card input:focus{
    transition: 0.3s;
    color:gray;
    outline: none !important;
    border-bottom-color: black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.signUp-card-form button{
    background-color: transparent;
    color: black;
    border: none;
    padding:0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    display: block;
    text-align: end;
    float: right;
}
.signUp-card-form button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width : 768px){

    .signUp-card-body{
        padding: 2rem 0;
    }
    .signUp-card{
        width: 300px;
        padding: 2rem;
    }
}

