@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.login-page-body {
    font-family: 'Poppins', sans-serif;
    padding: 3rem;
    height: 100vh;
    background-image: url('/images/wall.png');
    background-size: 100% 100%;

}

.login-card {
    padding: 3rem;
    margin-top: 2rem;
    width: 35%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    float: right;
}

.head-icon {
    width: auto;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url('/images/Vectorx.png');
    background-size: 38px;
    position:relative;
    background-position-x: right;
    margin-bottom: 1.5rem;
}

.login-card-header {
    text-align: end;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: rgb(255, 255, 255, 0.8);
}

.login-card a {
    text-decoration: none;
    color: #35339a;
}

.login-card a:hover {
    text-decoration: underline;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.login-card-inputs input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;

    outline: none;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    padding-left: calc(1rem * 3.5);
    width: 100%;
}

.login-card-inputs input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;
    outline: none;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    padding-left: calc(1rem * 3.5);
    width: 100%;
}
.login-card-inputs input::placeholder{
    color: rgb(0,0,0, 0.8);
}
.form-items {
    border: none;
    background-color: transparent;
}
.login-card input:focus{
    transition: 0.3s;
    outline: none !important;
    border-bottom-color:rgb(0,0,0, 0.6);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.login-password-show-div {
    display: flex;
    justify-content: space-between;
}

.form-item-password input[type="checkbox"]{
    
}
.login-card-form .form-item-password {
    font-size: calc(1.1rem * .8);
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
    display: flex;
    justify-content: end;
}

.login-card input[type="text"],
input[type="password"] {
    padding: 0.8rem 1.5rem;
    text-align: end;
    width: 100%;
}



.login-card-form button {
    padding: 0.5rem;
    display: flex;
    text-align: end;
    text-transform: uppercase;
    background-color: ;
    letter-spacing: 2px;
    float: right;
    border: none;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
}

.login-card-social {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 1.6rem;
}

.login-card-social-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.login-card-social-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 3rem;
}


@media (max-width : 768px) {

    .login-card-body {
        padding: 2rem 0;
    }

    .login-card {
        width: 300px;
        padding: 2rem;
    }
}