@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.show-password-label {
    color: white;
}

.login-page-body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: url('/images/wall.png');
    background-size: 100% 100%;

}

.login-card {
    margin: 0;
    position: absolute;
    right:7%;
    top: 50%;
    height: fit-content;
    width: 30%;
    background: #222327;
    backdrop-filter: blur(12px);
    border-radius: 10px;
    float: right;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-card-body {
    margin-top:4rem;
    padding: 3rem;
}

.head-icon {
    float: right;
    padding: 1rem;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('./finalbeatlogo.png');
    background-size: 38px;
    position: relative;
    background-position-x: center;
    background-position-y: center;
    fill: #F67341;
    background-color: #F67341;
    padding: 1rem;
    border-top-right-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-top-right-radius:10px;
    -ms-border-top-right-radius:10px;
    -oz-border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-bottom-left-radius:10px;
    -ms-border-bottom-left-radius:10px;
    -oz-border-bottom-left-radius:10px;
       
}

.login-card-header {
    text-align: end;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #F67341;
}

.login-card a {
    text-decoration: none;
    color: #193cee;
}

.login-card a:hover {
    text-decoration: underline;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.login-card-inputs input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;
    outline: none;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    padding-left: calc(1rem * 3.5);
    width: 100%;
}
.login-card-inputs input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    padding-left: calc(1rem * 3.5);
    width: 100%;
}

.login-card-inputs input::placeholder {
    color: white;
}

.form-items {
    border: none;
    background-color: transparent;
}

.login-card input[type="text"] {
    border-bottom-color: white;
    color: white;
}

.login-card input[type="text"]:focus {
    border-bottom-color: #F67341;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.login-card input[type="password"] {
    border-bottom-color: white;
}

.login-card input[type="password"]:focus {
    border-bottom-color: #F67341;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.login-password-show-div {
    display: flex;
    justify-content: space-between;
}

.login-card-form .form-item-password {
    font-size: calc(1.1rem * .8);
    display: flex;
    flex-direction: row;
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
    display: flex;
    justify-content: end;
}

.login-card input[type="text"],
input[type="password"] {
    padding: 0.8rem 1.5rem;
    text-align: end;
    width: 100%;
}



.login-card-form button {
    padding: 0.5rem;
    display: flex;
    text-align: end;
    text-transform: uppercase;
    background-color: #F67341;
    border-radius: 5px;
    letter-spacing: 2px;
    float: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: none;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@keyframes scaleAnimation2{
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50%{
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
}
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}
.login-card-form button:focus{
    animation: scaleAnimation2 0.8s ease-out;
    -webkit-animation: scaleAnimation2 0.8s ease-out;
}
.login-card-social {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 1.9rem;
}

.login-card-social-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.login-card-social-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 40px;
    height: 40px;
    background-color: #F67341;
    border-radius: 3rem;
}


@media (max-width : 768px) {

    .login-card-body {
        padding: 2rem 0;
    }

    .login-card {
        width: 300px;
        padding: 2rem;
    }
}

