
/*Song Player*/
.music-player-block{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    width:23% fit-content;
    padding: 1rem;
}


.track-photo{
    user-select: none;
    width: 260px;
    height: 260px;
    background-image: url('Eminem.png');
    background-repeat: no-repeat;
    background-size: 260px 260px;
    /*Top - Left - Bottom - Right*/
    margin:1rem auto 1rem auto;
}
.track-name{
    font-weight: 700;
    font-size: large;
}

/*Track-Slider CSS*/

.track-elapsed{
    font-size: small;
    font-weight: 500;
    margin-right: 2px;
}
.track-length{
    font-size: small;
    font-weight: 500;
    margin-left: 2px;
}

.volume-bar{
    position: absolute;
    z-index:1;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: red;
}


/*  Play buttons CSS  */
.play-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.play-btns{
    padding: 0.55rem;
}

