
/*Song Player*/
.music-player-block{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    width:23% fit-content;
    background-color: lightblue;  
    padding: 1rem;
}
/* 

.volume-container{
    width:100%;
    height:40px;
    background-color:lightgreen;
}
.volume-icon{
    float:left;
    width:10%;
    height: 100%;
    position: relative;
}
.volume-slider{
    width:80%;
    float:left;
    position:relative;
}
.volume-slider input[type="range"]{
    position: absolute;
    width:75%;
    z-index:9;
    -webkit-appearance: none;
    height: 3.5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: transparent;
    top:60%;
}
.volume-slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:10px;
    height: 10px;
    background-color: #21222C;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.volume-slider progress{
    -webkit-appearance:none;
    position:realative;
    width:75%;
    height: 3.5px;
    background-color: #21222C;
    overflow: hidden;
}
.volume-slider progress::-webkit-progress-bar{
    background-color: #D9D9D9;
}
.volume-slider progress::-webkit-progress-value{
    background-color: #21222C;
} */

.track-photo{
    user-select: none;
    width: 260px;
    height: 260px;
    background-image: url('Eminem.png');
    background-repeat: no-repeat;
    background-size: 260px 260px;
    display: flex;
    /*Top - Left - Bottom - Right*/
    margin:1rem auto 1rem auto;
}
.track-name{
    font-weight: 700;
    font-size: large;
}

/*Track-Slider CSS*/
.track-progress{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.track-elapsed{
    font-size: small;
    font-weight: 500;
    margin-right: 2px;
}
.track-length{
    font-size: small;
    font-weight: 500;
    margin-left: 2px;
}
.track-slider{
    width:100%;
    background-color: #E8E8E8;
}
.volume-bar{
    position: absolute;
    z-index:1;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: red;
}
.track-progress input[type=range] {
    position: relative;
    -webkit-appearance: none;
    z-index: 2;
    height: 4px;
    width: 100%;
    background: white;
    outline: none;
    border-radius: 15px;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
     -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.track-progress input::-webkit-slider-thumb{
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

